In [ ]:
import numpy as np
import pandas as pd
from tqdm import tqdm

from utils import delete_nones, encode_ids

## Load and Preprocess data

In [ ]:
frame = pd.read_csv("../data/clear_data.scv")

In [ ]:
frame = delete_nones(frame)
frame = encode_ids(frame)

In [ ]:
# TODO: move into main
print('frame shape = ', frame.shape)
print('num unique drivers = ', np.array(frame.driver_id.unique()).shape[0])
print('num unique users = ', np.array(frame.user_id.unique()).shape[0])
print('num unique rides = ', np.array(frame.ride_id.unique()).shape[0])

## Compute Features

In [1]:
import xgboost as xgb
from sklearn import metrics
from sklearn.cross_validation import KFold
from sklearn.preprocessing import normalize
from sklearn.cross_validation import cross_val_score
from sklearn.cross_validation import train_test_split

In [ ]:
# read in data
dtrain = xgb.DMatrix(np.array(X_train_add[[]]), 
                     label=np.array(y_train))

dtest = xgb.DMatrix(np.array(X_test_add[[]]),
                    label=np.array(y_test))

params_scope = [{'booster': 'dart',
                 'max_depth': 5, 
                 'learning_rate': 0.1,
                 'objective': 'multi:softmax', 
                 'silent': True,
                 'normalize_type': 'tree',
                 'rate_drop': 0.1,
                 'skip_drop': 0.5,
                 'num_class': 3},

                 {'booster': 'dart',
                 'max_depth': 3, 
                 'learning_rate': 0.01,
                 'objective': 'multi:softmax', 
                 'silent': True,
                 'normalize_type': 'tree',
                 'rate_drop': 0.1,
                 'skip_drop': 0.8,
                 'num_class': 3},

                 {'booster': 'gblinear',
                 'max_depth': 8, 
                 'learning_rate': 0.001,
                 'objective': 'multi:softmax', 
                 'silent': True,
                 'normalize_type': 'forest',
                 'num_class': 3},

                {'booster': 'dart',
                 'max_depth': 4, 
                 'learning_rate': 0.1,
                 'objective': 'multi:softmax', 
                 'silent': True,
                 'normalize_type': 'tree',
                 'rate_drop': 0.2,
                 'skip_drop': 0.6,
                 'num_class': 3}
                ]

In [ ]:
scores = []
scores_cv = []

for param_num, params in enumerate(params_scope):
    print()
    print('##############################')
    print('###           {}           ###'.format(param_num))
    print('##############################')
    bst = xgb.train(param, dtrain)
    
    y_pred = bst.predict(dtest)
    score = metrics.accuracy_score(y_test, y_pred)
    scores.append(score)
    print('Score = ', score)
    
    
    score_cv = cross_val_score(knn, X, y, cv=10, scoring='accuracy')
    scores_cv.append(score_cv)
    
    print('score_cv = ', scores_cv)

In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm
from sklearn import metrics
from sklearn.cross_validation import KFold
from sklearn.preprocessing import normalize
from sklearn.cross_validation import cross_val_score
from sklearn.cross_validation import train_test_split

from utils import delete_nones, encode_ids
from features import time_discretization, find_hexagon_id_of_pickup_coords, create_city_hexagons

/home/mak7/PycharmProjects/MURA/mur/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
# TODO: insert data cleaning
frame = pd.read_csv("./data/clear_data.scv")

In [3]:
# DATA PREPROCESSING
frame = delete_nones(frame)
frame = encode_ids(frame)
# delete canceled requests
frame = frame[(frame['canceled_by_client'] == 0) & (frame['canceled_by_driver'] == 0)]

frame shape =  (1117300, 12)
clear frame shape =  (995791, 12)

In [4]:
# get hexagon frame
# TODO: pass params of city
hexagon_frame = create_city_hexagons()

In [5]:
hexagon_frame.head()

,hexagon_id,latitude1,latitude2,latitude3,latitude4,latitude5,latitude6,longitude1,longitude2,longitude3,longitude4,longitude5,longitude6
0,1,49.843030,49.838817,49.835233,49.835861,49.840073,49.843658,24.025218,24.022414,24.027112,24.034614,24.037419,24.032721
1,2,49.838189,49.833976,49.830392,49.831020,49.835233,49.838817,24.014911,24.012108,24.016806,24.024308,24.027112,24.022414
2,3,49.835233,49.831020,49.827436,49.828064,49.832276,49.835861,24.027112,24.024308,24.029005,24.036506,24.039311,24.034614
3,4,49.845985,49.841772,49.838189,49.838817,49.843030,49.846614,24.013016,24.010212,24.014911,24.022414,24.025218,24.020519
4,5,49.847870,49.843658,49.840073,49.840700,49.844912,49.848497,24.035526,24.032721,24.037419,24.044921,24.047727,24.043029

In [6]:
# TODO: add city column
# FEATURE GENERATION
time_period_frame = time_discretization(frame=frame)
frame['week_day'], frame['weekend'], frame['month'], frame['year'] = time_period_frame['week_day'], \
                                                                 time_period_frame['weekend'], \
                                                                 time_period_frame['month'], \
                                                                 time_period_frame['year']

In [8]:
frame = frame.reset_index(drop=True)

In [9]:
frame.head()

,ride_id,created_at,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,user_id,driver_id,ride_distance,canceled_by_client,canceled_by_driver,ride_to_suburb,week_day,weekend,month,year
0,0,2018-12-14 23:00:00.043000000,49.824671,24.013246,49.784729,24.060303,45133,2726,7.97,0,0,0,4.0,False,12.0,2018.0
1,1,2018-08-25 21:40:52.537000000,49.839718,23.994425,49.840610,24.029135,122255,1942,3.17,0,0,0,4.0,False,1.0,2019.0
2,2,2019-01-18 09:18:44.377000000,49.837013,24.034357,49.832710,23.999216,20280,665,3.39,0,0,0,4.0,False,1.0,2019.0
3,3,2018-10-03 16:53:48.097000000,49.871124,23.957130,49.858883,24.019121,77669,1456,6.74,0,0,0,6.0,True,9.0,2018.0
4,4,2019-01-25 06:25:31.730000000,49.785679,24.055679,49.842602,24.000990,57120,3846,13.16,0,0,0,3.0,False,12.0,2018.0

In [31]:
from matplotlib import path
from tqdm import tqdm

In [47]:
def find_hexagon_id_of_pickup_coords(hexagon_frame, frame):
    # TODO: decide what to do with pickoff_lat and pickoff_lng
    pickup_coords = np.array(frame[['pickup_lat', 'pickup_lng']])

    hexagon_arr = np.array(hexagon_frame)[:, 1:]
    hexagon_ids = np.array(hexagon_frame['hexagon_id'])

    hexagon_pickup_ids = []

    for coord_ind, pickup_coord in tqdm(enumerate(pickup_coords)):
        # TODO: use kNN for optimization
        for hexagon_ind, hexagon in enumerate(hexagon_arr):
            hexagon = np.array([hexagon[0:6], hexagon[6:]]).reshape(-1, 6).T
            hexagon_path = path.Path(hexagon)

            if hexagon_path.contains_points([(pickup_coord[0], pickup_coord[1])]):
                hexagon_pickup_ids.append(hexagon_ids[hexagon_ind])
                break
            elif hexagon_ind == hexagon_arr.shape[0]-1:
                hexagon_pickup_ids.append(None)
            else:
                continue

    return hexagon_pickup_ids

In [71]:
small_frame = frame[0:15000]
print(small_frame.shape)
small_frame.head()

(15000, 16)

,ride_id,created_at,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,user_id,driver_id,ride_distance,canceled_by_client,canceled_by_driver,ride_to_suburb,week_day,weekend,month,year
0,0,2018-12-14 23:00:00.043000000,49.824671,24.013246,49.784729,24.060303,45133,2726,7.97,0,0,0,4.0,False,12.0,2018.0
1,1,2018-08-25 21:40:52.537000000,49.839718,23.994425,49.840610,24.029135,122255,1942,3.17,0,0,0,4.0,False,1.0,2019.0
2,2,2019-01-18 09:18:44.377000000,49.837013,24.034357,49.832710,23.999216,20280,665,3.39,0,0,0,4.0,False,1.0,2019.0
3,3,2018-10-03 16:53:48.097000000,49.871124,23.957130,49.858883,24.019121,77669,1456,6.74,0,0,0,6.0,True,9.0,2018.0
4,4,2019-01-25 06:25:31.730000000,49.785679,24.055679,49.842602,24.000990,57120,3846,13.16,0,0,0,3.0,False,12.0,2018.0

In [74]:
small_frame['hexagon_id'] = find_hexagon_id_of_pickup_coords(hexagon_frame, small_frame)

0it [00:00, ?it/s]
27it [00:00, 254.94it/s]
48it [00:00, 234.49it/s]
78it [00:00, 250.78it/s]
112it [00:00, 272.08it/s]
153it [00:00, 302.62it/s]
188it [00:00, 310.57it/s]
218it [00:00, 305.71it/s]
248it [00:00, 298.46it/s]
279it [00:00, 300.21it/s]
309it [00:01, 295.93it/s]
344it [00:01, 309.91it/s]
376it [00:01, 311.47it/s]
408it [00:01, 309.71it/s]
442it [00:01, 315.89it/s]
474it [00:01, 280.74it/s]
504it [00:01, 284.21it/s]
533it [00:01, 285.30it/s]
562it [00:01, 279.91it/s]
591it [00:02, 270.50it/s]
632it [00:02, 300.70it/s]
668it [00:02, 315.79it/s]
701it [00:02, 296.03it/s]
732it [00:02, 289.35it/s]
772it [00:02, 314.98it/s]
808it [00:02, 326.09it/s]
844it [00:02, 334.35it/s]
879it [00:02, 332.99it/s]
916it [00:02, 339.94it/s]
951it [00:03, 317.90it/s]
984it [00:03, 302.50it/s]
1017it [00:03, 309.98it/s]
1057it [00:03, 330.82it/s]
1101it [00:03, 353.29it/s]
1145it [00:03, 374.75it/s]
1184it [00:03, 350.08it/s]
1223it [00:03, 357.51it/s]
1260it [00:03, 336.57it/s]
1303it [00:04, 356.74it/s]
1340it [00:04, 322.90it/s]
1374it [00:04, 324.13it/s]
1408it [00:04, 306.93it/s]
1441it [00:04, 311.63it/s]
1476it [00:04, 320.94it/s]
1509it [00:04, 287.30it/s]
1540it [00:04, 287.36it/s]
1571it [00:05, 292.75it/s]
1606it [00:05, 303.12it/s]
1637it [00:05, 296.18it/s]
1667it [00:05, 283.84it/s]
1696it [00:05, 278.43it/s]
1743it [00:05, 316.27it/s]
1790it [00:05, 344.67it/s]
1827it [00:05, 337.90it/s]
1863it [00:05, 343.07it/s]
1905it [00:05, 362.51it/s]
1943it [00:06, 352.38it/s]
1980it [00:06, 339.54it/s]
2015it [00:06, 310.96it/s]
2052it [00:06, 321.90it/s]
2089it [00:06, 333.41it/s]
2123it [00:06, 318.11it/s]
2156it [00:06, 301.31it/s]
2196it [00:06, 325.21it/s]
2230it [00:07, 321.15it/s]
2263it [00:07, 277.98it/s]
2293it [00:07, 277.34it/s]
2327it [00:07, 290.04it/s]
2368it [00:07, 315.13it/s]
2401it [00:07, 303.09it/s]
2433it [00:07, 296.90it/s]
2476it [00:07, 326.13it/s]
2511it [00:07, 332.86it/s]
2546it [00:08, 320.62it/s]
2585it [00:08, 338.25it/s]
2620it [00:08, 319.01it/s]
2653it [00:08, 317.14it/s]
2693it [00:08, 336.70it/s]
2728it [00:08, 339.83it/s]
2771it [00:08, 361.65it/s]
2808it [00:08, 362.12it/s]
2858it [00:08, 393.61it/s]
2907it [00:08, 414.38it/s]
2950it [00:09, 395.51it/s]
2991it [00:09, 343.06it/s]
3028it [00:09, 322.15it/s]
3070it [00:09, 344.69it/s]
3107it [00:09, 351.78it/s]
3148it [00:09, 367.12it/s]
3189it [00:09, 377.45it/s]
3228it [00:09, 345.62it/s]
3264it [00:10, 347.35it/s]
3306it [00:10, 364.22it/s]
3344it [00:10, 333.38it/s]
3379it [00:10, 321.87it/s]
3421it [00:10, 345.58it/s]
3468it [00:10, 375.35it/s]
3508it [00:10, 368.77it/s]
3546it [00:10, 336.74it/s]
3581it [00:10, 322.58it/s]
3615it [00:11, 323.60it/s]
3654it [00:11, 337.90it/s]
3689it [00:11, 306.95it/s]
3727it [00:11, 325.70it/s]
3761it [00:11, 315.76it/s]
3794it [00:11, 285.17it/s]
3832it [00:11, 303.03it/s]
3866it [00:11, 306.09it/s]
3898it [00:11, 285.88it/s]
3934it [00:12, 299.76it/s]
3965it [00:12, 290.21it/s]
3995it [00:12, 287.65it/s]
4025it [00:12, 289.82it/s]
4055it [00:12, 287.02it/s]
4103it [00:12, 325.24it/s]
4138it [00:12, 310.60it/s]
4171it [00:12, 304.50it/s]
4203it [00:12, 300.14it/s]
4246it [00:13, 328.75it/s]
4281it [00:13, 326.99it/s]
4331it [00:13, 364.36it/s]
4370it [00:13, 351.88it/s]
4407it [00:13, 312.11it/s]
4441it [00:13, 293.74it/s]
4472it [00:13, 295.00it/s]
4503it [00:13, 289.73it/s]
4537it [00:14, 302.51it/s]
4584it [00:14, 336.80it/s]
4620it [00:14, 331.69it/s]
4655it [00:14, 302.95it/s]
4687it [00:14, 302.47it/s]
4719it [00:14, 302.94it/s]
4762it [00:14, 330.21it/s]
4812it [00:14, 365.92it/s]
4853it [00:14, 375.07it/s]
4892it [00:15, 346.64it/s]
4929it [00:15, 347.33it/s]
4971it [00:15, 361.42it/s]
5010it [00:15, 368.70it/s]
5048it [00:15, 360.80it/s]
5094it [00:15, 382.89it/s]
5134it [00:15, 386.89it/s]
5174it [00:15, 351.27it/s]
5211it [00:15, 337.57it/s]
5246it [00:16, 320.23it/s]
5287it [00:16, 340.62it/s]
5322it [00:16, 342.27it/s]
5357it [00:16, 342.72it/s]
5395it [00:16, 353.00it/s]
5431it [00:16, 344.57it/s]
5466it [00:16, 323.08it/s]
5513it [00:16, 355.86it/s]
5550it [00:16, 340.13it/s]
5593it [00:16, 361.20it/s]
5640it [00:17, 387.30it/s]
5681it [00:17, 373.06it/s]
5720it [00:17, 355.81it/s]
5767it [00:17, 379.50it/s]
5807it [00:17, 370.81it/s]
5858it [00:17, 401.06it/s]
5900it [00:17, 390.74it/s]
5941it [00:17, 375.51it/s]
5990it [00:17, 402.96it/s]
6034it [00:18, 412.74it/s]
6077it [00:18, 380.79it/s]
6117it [00:18, 380.42it/s]
6159it [00:18, 387.74it/s]
6199it [00:18, 354.23it/s]
6236it [00:18, 345.10it/s]
6272it [00:18, 332.33it/s]
6310it [00:18, 342.35it/s]
6345it [00:19, 322.90it/s]
6385it [00:19, 342.37it/s]
6420it [00:19, 319.05it/s]
6453it [00:19, 307.72it/s]
6490it [00:19, 320.58it/s]
6528it [00:19, 334.78it/s]
6565it [00:19, 344.04it/s]
6601it [00:19, 346.45it/s]
6636it [00:19, 335.99it/s]
6670it [00:19, 323.37it/s]
6703it [00:20, 324.89it/s]
6738it [00:20, 331.13it/s]
6772it [00:20, 318.56it/s]
6807it [00:20, 325.07it/s]
6840it [00:20, 298.16it/s]
6871it [00:20, 288.13it/s]
6911it [00:20, 313.47it/s]
6944it [00:20, 308.76it/s]
6992it [00:20, 342.33it/s]
7031it [00:21, 352.05it/s]
7068it [00:21, 355.46it/s]
7109it [00:21, 367.31it/s]
7147it [00:21, 363.48it/s]
7184it [00:21, 363.82it/s]
7221it [00:21, 347.73it/s]
7257it [00:21, 329.49it/s]
7306it [00:21, 364.27it/s]
7344it [00:21, 362.37it/s]
7382it [00:22, 352.57it/s]
7426it [00:22, 374.60it/s]
7466it [00:22, 374.18it/s]
7505it [00:22, 364.65it/s]
7556it [00:22, 397.13it/s]
7603it [00:22, 415.09it/s]
7650it [00:22, 428.64it/s]
7694it [00:22, 415.67it/s]
7737it [00:22, 403.90it/s]
7778it [00:23, 398.68it/s]
7819it [00:23, 378.72it/s]
7868it [00:23, 401.67it/s]
7910it [00:23, 401.56it/s]
7951it [00:23, 388.14it/s]
7991it [00:23, 381.38it/s]
8030it [00:23, 368.36it/s]
8070it [00:23, 370.41it/s]
8108it [00:23, 337.60it/s]
8149it [00:24, 353.61it/s]
8196it [00:24, 381.38it/s]
8245it [00:24, 398.58it/s]
8286it [00:24, 399.00it/s]
8327it [00:24, 401.09it/s]
8368it [00:24, 383.42it/s]
8408it [00:24, 387.48it/s]
8466it [00:24, 424.52it/s]
8510it [00:24, 400.18it/s]
8552it [00:25, 384.43it/s]
8592it [00:25, 373.69it/s]
8634it [00:25, 386.25it/s]
8675it [00:25, 392.25it/s]
8715it [00:25, 362.48it/s]
8753it [00:25, 353.76it/s]
8789it [00:25, 351.91it/s]
8829it [00:25, 360.14it/s]
8866it [00:25, 341.59it/s]
8902it [00:26, 341.44it/s]
8944it [00:26, 361.36it/s]
8993it [00:26, 391.28it/s]
9034it [00:26, 364.61it/s]
9072it [00:26, 365.76it/s]
9120it [00:26, 392.24it/s]
9161it [00:26, 371.08it/s]
9200it [00:26, 338.80it/s]
9242it [00:26, 358.44it/s]
9280it [00:27, 336.79it/s]
9317it [00:27, 345.25it/s]
9353it [00:27, 344.61it/s]
9392it [00:27, 356.31it/s]
9429it [00:27, 348.66it/s]
9469it [00:27, 362.62it/s]
9509it [00:27, 372.04it/s]
9547it [00:27, 362.95it/s]
9584it [00:27, 352.63it/s]
9627it [00:27, 372.14it/s]
9665it [00:28, 373.25it/s]
9710it [00:28, 391.51it/s]
9750it [00:28, 390.56it/s]
9793it [00:28, 399.47it/s]
9834it [00:28, 382.44it/s]
9873it [00:28, 347.47it/s]
9929it [00:28, 392.09it/s]
9982it [00:28, 424.10it/s]
10032it [00:28, 442.52it/s]
10082it [00:29, 451.91it/s]
10129it [00:29, 455.64it/s]
10176it [00:29, 449.72it/s]
10222it [00:29, 384.74it/s]
10263it [00:29, 353.99it/s]
10301it [00:29, 347.98it/s]
10342it [00:29, 360.19it/s]
10385it [00:29, 374.48it/s]
10425it [00:29, 379.50it/s]
10468it [00:30, 389.70it/s]
10508it [00:30, 328.17it/s]

10557it [00:30, 361.82it/s]
10596it [00:30, 338.36it/s]
10639it [00:30, 361.12it/s]
10677it [00:30, 363.23it/s]
10723it [00:30, 387.42it/s]
10764it [00:30, 374.11it/s]
10803it [00:31, 361.25it/s]
10845it [00:31, 376.11it/s]
10887it [00:31, 386.28it/s]
10927it [00:31, 370.81it/s]
10965it [00:31, 356.11it/s]
11002it [00:31, 346.15it/s]
11038it [00:31, 324.65it/s]
11079it [00:31, 345.85it/s]
11124it [00:31, 371.50it/s]
11163it [00:32, 334.18it/s]
11203it [00:32, 349.11it/s]
11255it [00:32, 385.51it/s]
11296it [00:32, 389.27it/s]
11337it [00:32, 384.35it/s]
11387it [00:32, 412.48it/s]
11430it [00:32, 389.25it/s]
11471it [00:32, 365.58it/s]
11512it [00:32, 376.12it/s]
11568it [00:33, 415.94it/s]
11612it [00:33, 413.99it/s]
11655it [00:33, 391.26it/s]
11696it [00:33, 384.12it/s]
11736it [00:33, 387.11it/s]
11776it [00:33, 353.39it/s]
11820it [00:33, 374.53it/s]
11859it [00:33, 377.02it/s]
11898it [00:33, 373.48it/s]
11936it [00:34, 321.69it/s]
11973it [00:34, 333.23it/s]
12008it [00:34, 328.63it/s]
12042it [00:34, 305.09it/s]
12096it [00:34, 349.01it/s]
12142it [00:34, 376.00it/s]
12192it [00:34, 404.05it/s]
12235it [00:34, 410.52it/s]
12278it [00:34, 402.71it/s]
12320it [00:35, 365.75it/s]
12359it [00:35, 333.21it/s]
12404it [00:35, 360.15it/s]
12442it [00:35, 338.03it/s]
12478it [00:35, 331.01it/s]
12513it [00:35, 335.24it/s]
12549it [00:35, 337.34it/s]
12597it [00:35, 368.59it/s]
12636it [00:35, 373.05it/s]
12682it [00:36, 391.16it/s]
12725it [00:36, 399.38it/s]
12766it [00:36, 396.68it/s]
12807it [00:36, 371.30it/s]
12845it [00:36, 373.54it/s]
12883it [00:36, 339.47it/s]
12918it [00:36, 338.15it/s]
12959it [00:36, 354.50it/s]
13004it [00:36, 377.64it/s]
13043it [00:37, 353.46it/s]
13083it [00:37, 362.52it/s]
13120it [00:37, 346.78it/s]
13161it [00:37, 362.11it/s]
13209it [00:37, 389.72it/s]
13250it [00:37, 387.01it/s]
13290it [00:37, 373.87it/s]
13328it [00:37, 375.32it/s]
13366it [00:37, 373.49it/s]
13404it [00:38, 374.46it/s]
13442it [00:38, 375.24it/s]
13486it [00:38, 391.82it/s]
13534it [00:38, 414.48it/s]
13577it [00:38, 418.91it/s]
13635it [00:38, 453.92it/s]
13689it [00:38, 475.73it/s]
13738it [00:38, 450.23it/s]
13794it [00:38, 473.76it/s]
13843it [00:38, 429.62it/s]
13888it [00:39, 428.98it/s]
13932it [00:39, 411.12it/s]
13975it [00:39, 390.27it/s]
14016it [00:39, 393.56it/s]
14059it [00:39, 402.87it/s]
14106it [00:39, 420.02it/s]
14149it [00:39, 403.30it/s]
14190it [00:39, 390.86it/s]
14230it [00:39, 369.17it/s]
14268it [00:40, 341.87it/s]
14303it [00:40, 342.77it/s]
14342it [00:40, 352.95it/s]
14395it [00:40, 391.33it/s]
14443it [00:40, 413.44it/s]
14486it [00:40, 415.97it/s]
14529it [00:40, 406.44it/s]
14576it [00:40, 422.56it/s]
14622it [00:40, 433.02it/s]
14666it [00:41, 432.51it/s]
14710it [00:41, 427.38it/s]
14754it [00:41, 423.81it/s]
14797it [00:41, 368.08it/s]
14841it [00:41, 384.43it/s]
14881it [00:41, 348.71it/s]
14922it [00:41, 361.88it/s]
14965it [00:41, 379.63it/s]
15000it [00:41, 357.73it/s]/home/mak7/PycharmProjects/MURA/mur/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [75]:
small_frame.head()

,ride_id,created_at,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,user_id,driver_id,ride_distance,canceled_by_client,canceled_by_driver,ride_to_suburb,week_day,weekend,month,year,hexagon_id
0,0,2018-12-14 23:00:00.043000000,49.824671,24.013246,49.784729,24.060303,45133,2726,7.97,0,0,0,4.0,False,12.0,2018.0,23.0
1,1,2018-08-25 21:40:52.537000000,49.839718,23.994425,49.840610,24.029135,122255,1942,3.17,0,0,0,4.0,False,1.0,2019.0,33.0
2,2,2019-01-18 09:18:44.377000000,49.837013,24.034357,49.832710,23.999216,20280,665,3.39,0,0,0,4.0,False,1.0,2019.0,1.0
3,3,2018-10-03 16:53:48.097000000,49.871124,23.957130,49.858883,24.019121,77669,1456,6.74,0,0,0,6.0,True,9.0,2018.0,NaN
4,4,2019-01-25 06:25:31.730000000,49.785679,24.055679,49.842602,24.000990,57120,3846,13.16,0,0,0,3.0,False,12.0,2018.0,NaN

In [76]:
small_frame = small_frame.dropna()
small_frame = small_frame

In [77]:
small_frame.head()

,ride_id,created_at,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,user_id,driver_id,ride_distance,canceled_by_client,canceled_by_driver,ride_to_suburb,week_day,weekend,month,year,hexagon_id
0,0,2018-12-14 23:00:00.043000000,49.824671,24.013246,49.784729,24.060303,45133,2726,7.97,0,0,0,4.0,False,12.0,2018.0,23.0
1,1,2018-08-25 21:40:52.537000000,49.839718,23.994425,49.840610,24.029135,122255,1942,3.17,0,0,0,4.0,False,1.0,2019.0,33.0
2,2,2019-01-18 09:18:44.377000000,49.837013,24.034357,49.832710,23.999216,20280,665,3.39,0,0,0,4.0,False,1.0,2019.0,1.0
5,5,2018-09-30 04:15:57.223000000,49.798859,24.061859,49.813759,23.959866,95136,3114,9.30,0,0,0,4.0,False,1.0,2019.0,109.0
6,6,2018-12-20 02:28:31.017000000,49.844044,24.024796,49.843155,23.972368,12655,4259,4.55,0,0,0,1.0,False,2.0,2019.0,6.0

In [120]:
features = small_frame.groupby(['week_day', 'month', 'year', 'hexagon_id']).sum()

In [121]:
features.head(100)

                                  ride_id   pickup_lat   pickup_lng  \
week_day month year   hexagon_id
0.0      1.0   2019.0 1.0          356996  2192.969907  1057.319612
                      2.0           14304    49.833111    24.021141
                      3.0           46089   348.824989   168.225653
                      4.0           70719   448.569771   216.172186
                      5.0           39939   249.211762   120.184799
                      6.0          181528  1046.776146   504.570682
                      7.0           29500   199.342205    96.160755
                      8.0           17122    99.679008    48.099739
                      9.0           25814   199.405410    96.211523
                      10.0          26149    99.667048    48.098737
                      11.0          38751   249.162243   120.045799
                      12.0          44744   299.072971   144.034161
                      13.0          19558   199.315948    96.088425
                      14.0          23117   149.548992    72.063106
                      15.0          26178   149.555795    72.110802
                      16.0          40634   249.269587   120.135607
                      17.0           9114    49.830048    24.046576
                      18.0          45106   249.123993   120.186937
                      19.0          27253   149.508343    72.027250
                      20.0          11032    49.827095    23.999249
                      21.0          57261   349.017429   168.115158
                      22.0           8740    49.824265    24.047560
                      23.0          86995   498.225891   240.110012
                      26.0          53131   249.166168   119.994686
                      27.0           8115    99.650833    48.108522
                      31.0          26326    99.696129    47.988031
                      32.0           6192    99.642788    48.047619
                      33.0          82040   398.720358   191.960537
                      34.0          32215   398.899242   192.181094
                      37.0          21412    99.656723    48.137794
...                                   ...          ...          ...
                      116.0         28916   249.034992   119.901447
                      122.0         62364   348.632179   167.950115
                      124.0          7649    99.619087    47.938774
                      126.0          9821    49.818386    23.973110
                      127.0         14386    99.645943    47.925161
         2.0   2019.0 1.0          142994  1046.638260   504.662025
                      2.0           68441   548.176169   264.192695
                      3.0           29581   249.155830   120.158993
                      4.0           38390   199.371784    96.078752
                      5.0           25961    99.685360    48.073223
                      6.0          116388   747.679340   360.387899
                      7.0           14332    99.670959    48.090136
                      11.0          59915   249.155830   120.046770
                      12.0          39659   249.227463   120.042326
                      14.0          20637    99.698624    48.036596
                      15.0          38108   199.414310    96.158747
                      16.0          28225   249.269661   120.121172
                      17.0          31457   249.141621   120.218830
                      19.0          47684   199.351994    96.024048
                      20.0          13992   199.301495    96.004244
                      21.0          30739   199.433567    96.058454
                      23.0          14576    99.641457    48.016115
                      24.0           2188    49.835316    24.068558
                      26.0          45628   249.161290   119.988497
                      27.0          25717    99.649986    48.108381
                      29.0           5857    49.855515    24.045622
                      30.0          15123    49.818222    24.031893
                      32.0          15250    49.820644    24.020025
                      33.0          67352   448.563372   215.963475
                      34.0          23178    99.720932    48.056089

                                  dropoff_lat  dropoff_lng  user_id  \
week_day month year   hexagon_id
0.0      1.0   2019.0 1.0         2192.331302  1056.911346  3424328
                      2.0           49.853889    24.029888     8307
                      3.0          348.843471   168.101305   352608
                      4.0          448.494956   216.270492   883490
                      5.0          249.102440   120.088594   451799
                      6.0         1046.536762   504.387518  1456173
                      7.0          199.359348    96.156431   247842
                      8.0           99.653339    48.053576   175995
                      9.0          199.363667    96.039003   144584
                      10.0          99.652660    48.060060    96432
                      11.0         249.153641   120.186438   205588
                      12.0         298.885549   144.112827   275477
                      13.0         199.352211    96.029462   273878
                      14.0         149.519951    72.164309   267845
                      15.0         149.471943    72.039347    43864
                      16.0         249.188889   120.145132   343939
                      17.0          49.852592    24.011152    48004
                      18.0         249.131756   120.140306   282453
                      19.0         149.407639    72.056984   163980
                      20.0          49.851814    24.052711     2938
                      21.0         348.826328   168.138607   581114
                      22.0          49.814213    24.038559     9130
                      23.0         498.374919   240.216797   598820
                      26.0         249.078964   120.056110   309000
                      27.0          99.625549    47.950539   160423
                      31.0          99.624683    48.048613    83003
                      32.0          99.670166    48.111719   154058
                      33.0         398.642676   192.033252   608453
                      34.0         398.620392   192.300325   480305
                      37.0          99.680737    48.023664   215740
...                                       ...          ...      ...
                      116.0        249.075085   120.028158   395716
                      122.0        348.692360   168.182987   391291
                      124.0         99.646183    47.986288   115553
                      126.0         49.846107    24.025133    88422
                      127.0         99.612545    47.982826    56257
         2.0   2019.0 1.0         1046.332320   504.347449  1371197
                      2.0          548.034203   264.379706   826630
                      3.0          249.103973   120.073328   368483
                      4.0          199.273701    96.091145   369001
                      5.0           99.651669    48.088976   128585
                      6.0          747.457595   360.429463  1085356
                      7.0           99.690884    48.120037   134394
                      11.0         249.172928   120.115396   383012
                      12.0         249.117290   120.192587   394282
                      14.0          99.706295    47.995777    49739
                      15.0         199.199825    96.124275   258638
                      16.0         249.239849   120.035215   333796
                      17.0         249.097393   119.964888   231873
                      19.0         199.317557    96.040075   217431
                      20.0         199.399349    96.089338   261549
                      21.0         199.373650    96.125109   265324
                      23.0          99.649342    48.005367   107148
                      24.0          49.798634    24.016342    53932
                      26.0         249.153934   120.116566   205058
                      27.0          99.686783    48.033581    89059
                      29.0          49.841911    24.016264    17703
                      30.0          49.816566    24.068342    40841
                      32.0          49.838234    23.971247   119500
                      33.0         448.602298   216.323882   595493
                      34.0          99.629539    47.960608   118508

                                  driver_id  ride_distance  \
week_day month year   hexagon_id
0.0      1.0   2019.0 1.0             83714     244.559999
                      2.0              2162       3.110000
                      3.0             19207      30.570001
                      4.0             20944      45.670000
                      5.0             11307      40.340000
                      6.0             60225      96.839999
                      7.0              8669      15.500000
                      8.0              1511       5.940000
                      9.0              9099      21.980000
                      10.0             5615      12.240000
                      11.0            12640      42.020000
                      12.0            13886      36.360000
                      13.0            10529      20.250000
                      14.0             5385      16.640000
                      15.0             6465      16.490000
                      16.0            14174      21.790000
                      17.0             2775       4.550000
                      18.0            11438      17.140000
                      19.0             6857      18.570000
                      20.0              626       6.070000
                      21.0            19903      34.280000
                      22.0             2789       2.950000
                      23.0            15803      58.810000
                      26.0            10314      24.920000
                      27.0             5066      16.080000
                      31.0             4104      14.400000
                      32.0             1487      12.330000
                      33.0            13127      32.460000
                      34.0            16250      43.980000
                      37.0             6176      11.700000
...                                     ...            ...
                      116.0           12405      23.710000
                      122.0           17433      49.009999
                      124.0            4652       7.830000
                      126.0             729       6.260000
                      127.0            5508       7.410000
         2.0   2019.0 1.0             56118     112.579999
                      2.0             13152      68.490000
                      3.0             17420      28.710000
                      4.0              8533      19.450000
                      5.0              7365       7.210000
                      6.0             37171      83.709999
                      7.0              4999      10.940000
                      11.0            12148      20.470000
                      12.0            11131      30.820000
                      14.0             3483       7.080000
                      15.0             6021      36.630001
                      16.0             5895      20.850000
                      17.0            10580      35.320001
                      19.0             7383      16.540000
                      20.0            10455      24.570000
                      21.0             5117      14.930000
                      23.0             4319       7.920000
                      24.0             3689       8.200000
                      26.0             8899      22.150000
                      27.0             3778      15.720000
                      29.0             3912       4.770000
                      30.0              871       4.820000
                      32.0             1012       5.410000
                      33.0            11125      42.190000
                      34.0              302      15.390000

                                  canceled_by_client  canceled_by_driver  \
week_day month year   hexagon_id
0.0      1.0   2019.0 1.0                          0                   0
                      2.0                          0                   0
                      3.0                          0                   0
                      4.0                          0                   0
                      5.0                          0                   0
                      6.0                          0                   0
                      7.0                          0                   0
                      8.0                          0                   0
                      9.0                          0                   0
                      10.0                         0                   0
                      11.0                         0                   0
                      12.0                         0                   0
                      13.0                         0                   0
                      14.0                         0                   0
                      15.0                         0                   0
                      16.0                         0                   0
                      17.0                         0                   0
                      18.0                         0                   0
                      19.0                         0                   0
                      20.0                         0                   0
                      21.0                         0                   0
                      22.0                         0                   0
                      23.0                         0                   0
                      26.0                         0                   0
                      27.0                         0                   0
                      31.0                         0                   0
                      32.0                         0                   0
                      33.0                         0                   0
                      34.0                         0                   0
                      37.0                         0                   0
...                                              ...                 ...
                      116.0                        0                   0
                      122.0                        0                   0
                      124.0                        0                   0
                      126.0                        0                   0
                      127.0                        0                   0
         2.0   2019.0 1.0                          0                   0
                      2.0                          0                   0
                      3.0                          0                   0
                      4.0                          0                   0
                      5.0                          0                   0
                      6.0                          0                   0
                      7.0                          0                   0
                      11.0                         0                   0
                      12.0                         0                   0
                      14.0                         0                   0
                      15.0                         0                   0
                      16.0                         0                   0
                      17.0                         0                   0
                      19.0                         0                   0
                      20.0                         0                   0
                      21.0                         0                   0
                      23.0                         0                   0
                      24.0                         0                   0
                      26.0                         0                   0
                      27.0                         0                   0
                      29.0                         0                   0
                      30.0                         0                   0
                      32.0                         0                   0
                      33.0                         0                   0
                      34.0                         0                   0

                                  ride_to_suburb
week_day month year   hexagon_id
0.0      1.0   2019.0 1.0                      1
                      2.0                      0
                      3.0                      0
                      4.0                      1
                      5.0                      0
                      6.0                      0
                      7.0                      0
                      8.0                      0
                      9.0                      0
                      10.0                     0
                      11.0                     1
                      12.0                     0
                      13.0                     0
                      14.0                     0
                      15.0                     0
                      16.0                     0
                      17.0                     0
                      18.0                     0
                      19.0                     0
                      20.0                     0
                      21.0                     0
                      22.0                     0
                      23.0                     0
                      26.0                     0
                      27.0                     0
                      31.0                     0
                      32.0                     0
                      33.0                     0
                      34.0                     0
                      37.0                     0
...                                          ...
                      116.0                    0
                      122.0                    0
                      124.0                    0
                      126.0                    0
                      127.0                    0
         2.0   2019.0 1.0                      0
                      2.0                      0
                      3.0                      0
                      4.0                      0
                      5.0                      0
                      6.0                      0
                      7.0                      0
                      11.0                     0
                      12.0                     1
                      14.0                     0
                      15.0                     0
                      16.0                     0
                      17.0                     0
                      19.0                     0
                      20.0                     0
                      21.0                     0
                      23.0                     0
                      24.0                     0
                      26.0                     0
                      27.0                     0
                      29.0                     0
                      30.0                     0
                      32.0                     0
                      33.0                     0
                      34.0                     0

[100 rows x 11 columns]

In [108]:
feature_frame.columns

Index(['week_day', 'month', 'year', 'hexagon_id', 'ride_id', 'created_at',
       'pickup_lat', 'pickup_lng', 'dropoff_lat', 'dropoff_lng', 'user_id',
       'driver_id', 'ride_distance', 'canceled_by_client',
       'canceled_by_driver', 'ride_to_suburb', 'weekend'],
      dtype='object')

In [ ]:
feature_frame = features[['ride_id', 
       'weekend']]

In [122]:
feature_frame = features.reset_index()
feature_frame = feature_frame[['week_day', 'month', 'year', 'hexagon_id', 'ride_id']]
feature_frame.columns = ['week_day', 'month', 'year', 'hexagon_id', 'num_in']
feature_frame['weekend'] = [True if weekday in (5, 6) else False for weekday in feature_frame.week_day.values]
feature_frame = features.ride_distance
# TODO: repalce small_frame on features
feature_frame = small_frame.groupby(['week_day', 'month', 'year', 'hexagon_id']).sum()['ride_distance']

In [119]:
feature_frame.shape

(3394, 6)

In [123]:
feature_frame.head()

week_day  month  year    hexagon_id
0.0       1.0    2019.0  1.0           244.559999
                         2.0             3.110000
                         3.0            30.570001
                         4.0            45.670000
                         5.0            40.340000
Name: ride_distance, dtype: float64