In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/data_hackathon_v04.csv')

In [3]:
df.head(1)

  ride_id|created_at|pickup_lat|pickup_lng|dropoff_lat|dropoff_lng|user_id|driver_id|ride_distance|canceled_by_client|canceled_by_driver|ride_to_suburb
0  000002b3a3014388a6c62fdda1d03de1n|2018-12-14 2...

In [4]:
new_df = pd.DataFrame(columns=["ride_id", "created_at", "pickup_lat", "pickup_lng", "dropoff_lat", "dropoff_lng", 
                              "user_id", "driver_id", "ride_distance", "canceled_by_client", "canceled_by_driver",
                              "ride_to_suburb"])

In [5]:
raw_1 = df['ride_id|created_at|pickup_lat|pickup_lng|dropoff_lat|dropoff_lng|user_id|driver_id|ride_distance|canceled_by_client|canceled_by_driver|ride_to_suburb'][0]
a = pd.DataFrame([raw_1.split("|")], columns=new_df.columns)
# new_df.append(a)

In [6]:
raw_1 = df['ride_id|created_at|pickup_lat|pickup_lng|dropoff_lat|dropoff_lng|user_id|driver_id|ride_distance|canceled_by_client|canceled_by_driver|ride_to_suburb'][0]
# n = pd.DataFrame(raw_1.split("|"), columns=new_df.columns)

In [7]:
new_df.head(2)

Empty DataFrame
Columns: [ride_id, created_at, pickup_lat, pickup_lng, dropoff_lat, dropoff_lng, user_id, driver_id, ride_distance, canceled_by_client, canceled_by_driver, ride_to_suburb]
Index: []

In [8]:
data = [raw[0].split("|") for idx, raw in df.iterrows()]
# for idx, raw in df.iterrows():
#     d = raw[0].split("|")
#     data.append(d)

In [9]:
data[0]

['000002b3a3014388a6c62fdda1d03de1n',
 '2018-12-14 23:00:00.043000000',
 '49.824670650000002',
 '24.01324558',
 '49.784728999999999',
 '24.06030273',
 '39004500450045003000420037003100370038004600310039003100360041003200360037004400460046004300340039003000360043',
 'a429c637c1244bb7a1d606d2b9987bdd',
 '7.9699998',
 '0',
 '0',
 '0']

In [10]:
new_d = pd.DataFrame(data, columns=new_df.columns)
new_d.head(5)

,ride_id,created_at,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,user_id,driver_id,ride_distance,canceled_by_client,canceled_by_driver,ride_to_suburb
0,000002b3a3014388a6c62fdda1d03de1n,2018-12-14 23:00:00.043000000,49.824670650000002,24.01324558,49.784728999999999,24.06030273,3900450045004500300042003700310037003800460031...,a429c637c1244bb7a1d606d2b9987bdd,7.9699998,0,0,0
1,000013de085e4be4a2cd27d9112f7bdbn,2018-10-13 23:59:00.580000000,49.837905880000001,24.029771799999999,49.841217039999997,23.974363319999998,6227785C7862375C7863623F5C7866652E285F2D5C7861...,,5.6199999,1,0,0
2,000040911549444d8ad461c69370e883n,2018-08-25 21:40:52.537000000,49.83971786,23.994424810000002,49.840610499999997,24.029134750000001,62277C6C5C7866386C572C795C7838315C7831645C7863...,7323767ede0349d1a7bfe743a091d63c,3.1700001,0,0,0
3,0000759fc38a410e8d8802610800ccacn,2018-12-08 13:43:41.357000000,49.829708089999997,24.044172280000002,49.869136810000001,24.01024627,62275C7864335C78393135635C6E5C7830355C7839645C...,,5.8699999,1,0,0
4,0000e61e5282484d943291df7266ee33n,2019-01-18 09:18:44.377000000,49.837013239999997,24.034357069999999,49.832710259999999,23.999216069999999,3300360037004600420041003600300032003500410033...,2913413c2bf748d7932d1d587c8aef13,3.3900001,0,0,0

In [16]:
new_d.to_csv("../data/clear_data.scv", index=False)

In [19]:
# counter = 0
# for ind, row in new_d.iterrows():
#     if len(row.driver_id) == 0:
#         counter +=1
# print(counter)

        #     if row.

In [30]:
r_df = pd.read_csv('../data/clear_data.scv')
r_df.head(10)

,ride_id,created_at,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,user_id,driver_id,ride_distance,canceled_by_client,canceled_by_driver,ride_to_suburb
0,000002b3a3014388a6c62fdda1d03de1n,2018-12-14 23:00:00.043000000,49.824671,24.013246,49.784729,24.060303,3900450045004500300042003700310037003800460031...,a429c637c1244bb7a1d606d2b9987bdd,7.97,0,0,0
1,000013de085e4be4a2cd27d9112f7bdbn,2018-10-13 23:59:00.580000000,49.837906,24.029772,49.841217,23.974363,6227785C7862375C7863623F5C7866652E285F2D5C7861...,NaN,5.62,1,0,0
2,000040911549444d8ad461c69370e883n,2018-08-25 21:40:52.537000000,49.839718,23.994425,49.840610,24.029135,62277C6C5C7866386C572C795C7838315C7831645C7863...,7323767ede0349d1a7bfe743a091d63c,3.17,0,0,0
3,0000759fc38a410e8d8802610800ccacn,2018-12-08 13:43:41.357000000,49.829708,24.044172,49.869137,24.010246,62275C7864335C78393135635C6E5C7830355C7839645C...,NaN,5.87,1,0,0
4,0000e61e5282484d943291df7266ee33n,2019-01-18 09:18:44.377000000,49.837013,24.034357,49.832710,23.999216,3300360037004600420041003600300032003500410033...,2913413c2bf748d7932d1d587c8aef13,3.39,0,0,0
5,0000eb568a93490a984fa3fcf92c694an,2018-10-03 16:53:48.097000000,49.871124,23.957130,49.858883,24.019121,62274E5C7830385C786530667D742E525C7861374F7640...,55d68519902e4df1aa43b2ea1d786cb8,6.74,0,0,0
6,00012e451519466d828aa4c8b0fbd335n,2019-01-25 06:25:31.730000000,49.785679,24.055679,49.842602,24.000990,4400310034003900360031003200300039003600380035...,e41757e9e1094e89a27a4bdb20573706,13.16,0,0,0
7,0001341df0c840c994d7076d3bbfd1f7n,2018-09-30 04:15:57.223000000,49.798859,24.061859,49.813759,23.959866,62275C786130785C7839365C78633551585C7865305C78...,bb0d2510a7c145c8b7365c5d19951cde,9.30,0,0,0
8,000152b506034bcda66a4a813f1408f4n,2018-12-20 02:28:31.017000000,49.844044,24.024796,49.843155,23.972368,3100360033004100350036003900370036004600410031...,fc111a9c9ac64f7e88af1bff7565e2c1,4.55,0,0,0
9,000155d92c3541a5b8e8a3fee2d4a8b4n,2019-01-11 14:46:47.137000000,49.846573,23.970469,49.838577,24.031303,4200410042004400330030004500310034004300310036...,efc9b21e4ac24aed91d7f4b659f44a1b,6.44,0,0,0

In [29]:
clear_df = r_df.dropna()
print("Count rows: {}".format(len(r_df)), " Without driver_id: {}".format(len(r_df) - len(clear_df)))

Count rows: 1117300  Without driver_id: 121509

,ride_id,created_at,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,user_id,driver_id,ride_distance,canceled_by_client,canceled_by_driver,ride_to_suburb
0,000002b3a3014388a6c62fdda1d03de1n,2018-12-14 23:00:00.043000000,49.824671,24.013246,49.784729,24.060303,3900450045004500300042003700310037003800460031...,a429c637c1244bb7a1d606d2b9987bdd,7.97,0,0,0
1,000013de085e4be4a2cd27d9112f7bdbn,2018-10-13 23:59:00.580000000,49.837906,24.029772,49.841217,23.974363,6227785C7862375C7863623F5C7866652E285F2D5C7861...,NaN,5.62,1,0,0
2,000040911549444d8ad461c69370e883n,2018-08-25 21:40:52.537000000,49.839718,23.994425,49.840610,24.029135,62277C6C5C7866386C572C795C7838315C7831645C7863...,7323767ede0349d1a7bfe743a091d63c,3.17,0,0,0
3,0000759fc38a410e8d8802610800ccacn,2018-12-08 13:43:41.357000000,49.829708,24.044172,49.869137,24.010246,62275C7864335C78393135635C6E5C7830355C7839645C...,NaN,5.87,1,0,0
4,0000e61e5282484d943291df7266ee33n,2019-01-18 09:18:44.377000000,49.837013,24.034357,49.832710,23.999216,3300360037004600420041003600300032003500410033...,2913413c2bf748d7932d1d587c8aef13,3.39,0,0,0
5,0000eb568a93490a984fa3fcf92c694an,2018-10-03 16:53:48.097000000,49.871124,23.957130,49.858883,24.019121,62274E5C7830385C786530667D742E525C7861374F7640...,55d68519902e4df1aa43b2ea1d786cb8,6.74,0,0,0
6,00012e451519466d828aa4c8b0fbd335n,2019-01-25 06:25:31.730000000,49.785679,24.055679,49.842602,24.000990,4400310034003900360031003200300039003600380035...,e41757e9e1094e89a27a4bdb20573706,13.16,0,0,0
7,0001341df0c840c994d7076d3bbfd1f7n,2018-09-30 04:15:57.223000000,49.798859,24.061859,49.813759,23.959866,62275C786130785C7839365C78633551585C7865305C78...,bb0d2510a7c145c8b7365c5d19951cde,9.30,0,0,0
8,000152b506034bcda66a4a813f1408f4n,2018-12-20 02:28:31.017000000,49.844044,24.024796,49.843155,23.972368,3100360033004100350036003900370036004600410031...,fc111a9c9ac64f7e88af1bff7565e2c1,4.55,0,0,0
9,000155d92c3541a5b8e8a3fee2d4a8b4n,2019-01-11 14:46:47.137000000,49.846573,23.970469,49.838577,24.031303,4200410042004400330030004500310034004300310036...,efc9b21e4ac24aed91d7f4b659f44a1b,6.44,0,0,0
10,00016e68750f4a4e8e82347cc2fff0c2n,2019-02-19 17:25:53.657000000,49.808647,24.017857,49.799507,24.025942,4600370034003000310042004200360044004300310043...,ae8dc3b4cba04137a7a7a9d5a056bb52,3.02,0,0,0
11,0001902d75b94303a7ff4f7c7285d7f3n,2018-10-29 12:37:56.290000000,49.813137,24.019350,49.873932,24.034935,62275C7862315C7864615C7863625C7865646F5C786336...,4d63a55fc43b49e8a7320bb2919d5d28,9.33,0,0,0
12,0001a52849f141a48f292bbd73b8d7c5n,2018-11-05 22:38:28.870000000,49.834843,24.022715,49.842907,24.008863,62276F5C7861375C7864305A235C7864665C786230285C...,ec29cf0316764f5d84b93bf28dc3fd58,2.64,0,0,0
13,0001bfb34fa044de914406fa2070bb77n,2019-01-08 21:25:07.587000000,49.790617,24.072427,49.845409,24.030020,4300410042004200410032003000440036003400370041...,b9cf3cc06931421ab2a53384ba61e051,8.44,0,0,0
14,00020d3ad0b9461db742b70e7d9454b2n,2019-01-27 15:26:06.577000000,49.793629,24.053236,49.756847,24.010290,4300320031003400460046004200410035003800390035...,387a22272be84ead80408f51105b3b2b,13.88,0,0,0
15,000218b0c8494514b78a2730c8e546bdn,2018-12-14 07:53:01.270000000,49.843437,24.027189,49.840366,24.032738,62277471745C7865335C7864645C78653123296E76405C...,a9a2329425ff413a96ed44fc800cd740,1.36,1,0,0
16,00023967f9034d38bad34d794d5aec32n,2018-12-02 06:28:34.740000000,49.839691,23.994301,49.867119,24.053946,2262275C7866335C7831305C7830625C786232445C7865...,0d90ca075bcd40978b6cba76299ae758,9.06,0,0,0
17,000251eecc4c4531ba0660668eea02d9n,2018-08-23 15:13:11.507000000,49.843399,24.020548,49.838348,24.023569,622756235C7861365C7862345C7838395A5C7865655C78...,NaN,1.13,1,0,0
18,0002892997e04e9cad5c63eec63b23f7n,2018-09-04 13:55:07.663000000,49.864098,24.013374,49.859726,24.015110,22622774745C7866665C7864655C7839392122225C7863...,b1a6f3b8c81a41ac82ff414b4df13975,0.53,0,0,0
19,0002ac4f5b9b410893b0414999c8c5fbn,2019-02-21 14:43:37.850000000,49.811134,24.068142,49.842682,24.034904,3700460041003500320034003700360046003000350030...,5630715845d142ac9e9ed66244c4be7f,6.01,0,0,0